<nav class="navbar navbar-toggleable-md navbar-light bg-faded mb-2">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/events']">ngEvents</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/events']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">All Events <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/events/new']" routerLinkActive="active">Create Event</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/test']" routerLinkActive="active">Test Page</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Events
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Angular Connect</a>
        </div>
      </li>
    </ul>
    <form id="searchForm" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search Sessions">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <span class="navbar-text ml-2">
      <a [routerLink]="['/user/login']" *ngIf="!authService.isAuthenticated()">Login</a>
      <a [routerLink]="['/user/profile']" *ngIf="authService.isAuthenticated()">Welcome {{authService.currentUser.userName}}</a>
    </span>
  </div>
</nav>